In [ ]:
print ( 45 + 18 )
print( 30 - 12 )
print( 15 * 6 )
print( 30 // 3 )
print( 45 % 8 )

In [ ]:
print("今日の天気は" + "晴れ")

In [ ]:
print( "降水確率" + str(50) + "%" )

In [ ]:
user_name = "侍太郎"
print(user_name)

In [ ]:
number1=5
number2=2.5
print(number1+number2)

In [ ]:
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

In [ ]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

In [2]:
s = (10+ 20)*5/2
print(f"{s}㎠")

75.0㎠